/*Elements*/
li {

}
/*Class*/
.hello {

}
/*ID*/
#name{

}
/*Star*/
* {
    border: 1px solid lightblue;
}
/*Descendant Selector*/
li a {
    color: red;
}
/*Adjacent Selector*/
h4 + ul {
    border: 4px solid orange;
}
/*Attribute Selector*/
a[href="http://www.google.com"] {
    background: blue;
}
input[type="checkbox"] {
    background: yellow;
}
/*nth of type*/
ul:nth-of-type(even) {
    background: purple;
}