body {
    background: red;
}
li {
    border: 4px solid #0056ff;
}
#essay {
    background: yellow;
    color: #8bb433;
}

.complete {
    text-decoration: underline wavy;
    text-decoration: line-through;
}